.wrapper__cart {
  border: 1px solid var(--border-cart);
  border-radius: 4px;
  border-top: 4px solid var(--NTUC-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__custom {
  padding: 16px 16px 0px 16px;
}

.icon--plus {
  width: 16px;
  height: 16px;
}

.more__detail {
  margin-right: 28px;
}

.form__input--NTUC-7:disabled {
  background: var(--NTUC-7);
}

.form__input--NTUC-11:disabled {
  background: var(--NTUC-11);
}

.form__input--NTUC-12 {
  border: 1px solid var(--NTUC-12);
}

.border--gray {
  height: 1px;
  background: var(--NTUC-14);
  margin: 30px;
}

.wrapper__collapse {
  padding: 0 16px;
}

.quickly__border--gray {
  border-left: 1.2px solid var(--NTUC-18);
}

.wrapper__sidebar {
  padding-left: 50px;
}
.title-card-benefits{
  overflow : hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.benefit__cart .card-deck .card {
  width: calc(50% - 30px);
}

.benefit__cart .card-deck .card .card-body {
  padding: 0;
}

.benefit__cart .card {
  border: none;
  border-radius: 0;
  background: none;
}

@media (min-width: 769px) and (max-width: 1920px) {
  .benefit__cart .card-deck .card {
    flex: none;
    margin-bottom: 20px;
    margin-top:35px
  }
}

@media (max-width: 768px) {
  .benefit__cart .card-deck .card {
    width: calc(100% - 30px);
  }
}

@media (min-width: 576px) {
  .benefit__cart .card-deck .card {
    flex: none;
    margin-bottom: 20px;
  }
}
