.img-contact-us {
  max-width: 563px;
  max-height: 1096px;
  width: auto;
  height: 1024px;
}
.contact {
  margin: 30px 0 0 80px;
}
.content-left {
  max-width: 397px;
  margin-right: 30px;
}
.icon-contact-us {
  width: 24px;
  height: 24px;
}
.space-top {
  margin-top: 40px;
}
.input-name-contact {
  width: 356px;
  height: 48px;
}
.input-mail-contact {
  width: 442px;
  height: 48px;
}
.btn-contact {
  width: 150px;
}
.email-us{
  margin-bottom: 25px;
}
@media screen and (max-width: 1300px) {
  .contact{
    padding-right: 20px;
  }
}
