.input__date {
  text-transform: capitalize;
}

.font-bold {
  font-weight: 500;
}

.input-form:active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.input-form:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.input-form::placeholder {
  width: 100%;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #bdbdbd;
}

.icon__date__picker {
  position: absolute;
  width: 14px;
  height: 14px;
  bottom: calc(100% - 50% - 7px) !important;
  right: 17px;
}

.icon__close {
  position: absolute;
  width: 14px;
  height: 14px;
  bottom: calc(100% - 50% - 7px);
  right: 40px;
  color: #6c757d;
  cursor: pointer;
}

.mt--60{
  margin-top: 60px;
}

.wrapper__select__custom {
  position: relative;
  width: 268.25px;
}

.input__currency {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input__disabled {
  cursor: not-allowed;
}

.input__disabled input {
  background: #e9ecef;
}

.input__disabled > * {
  pointer-events: none;
}

.upload__disabled {
  cursor: not-allowed;
}

.upload__disabled input {
  background: #e9ecef;
}

.upload__disabled > * {
  pointer-events: none;
}

.width--489 {
  width: calc(100% - 124px);
}

.form--input {
  padding: 11px 16px;
}

.input__custom::placeholder {
  width: 100%;
  height: 24px;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #bdbdbd;
}

@media (max-width: 376px) {
  .wrapper__select__custom {
    width: 199px;
  }

  .input__custom__mobile__filter {
    width: 199px;
  }

  .width--489 {
    width: 100%;
  }
}

.classDatetimePicker_stepOneLog .text__lable_info_step_2 {
  font-size: 12px !important;
}
::v-deep .classDatetimePicker_stepOneLog .position-relative input.input__custom  {
  width: 474px !important;
  background: #fafafa !important;
  padding: 8px 12px !important;
  height: 40px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
  border-radius: 0 !important;
}
::v-deep .classDatetimePicker_stepOneLog .position-relative input.input__custom:focus{
  outline: none !important;
}
