.icon__tick {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.block__alert {
  background-color: #14853D;
  color: #FCFDFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  width: 100%;
  max-width: 1230px;
  margin: 56px auto -6px;
  padding: 12px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__alert__error {
  background: #FF5252;
}

.block__alert__warning {
  background: #f9b836;
}

.block__alert__info {
  background: #0087E2;
}

.block__icon__tick {
  display: flex;
  align-items: center;
}

.icon__close__alert {
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .block__alert {
    max-width: 1230px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .block__alert {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .block__icon__tick {
    display: flex;
    align-items: flex-start;
  }
}