.pagination li {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 31px;
  background: rgba(255, 255, 255, 1e-06);
  border: 1px solid #DEE2E6;
  border-left: 0.5px solid #DEE2E6;
  border-right: 0.5px solid #DEE2E6;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: underline;
  color: var(--NTUC-2);
}

.pagination li a {
  color: var(--NTUC-2);
  font-family: Ubuntu-Regular,Tahoma,sans-serif;
}

.pagination li:first-child {
  text-decoration-line: none;
  border-radius: 3.2px 0px 0px 3.2px;
  border-left: 1px solid #DEE2E6;
}

.pagination li:first-child a {
  margin-bottom: 2.4px;
}

.pagination li:last-child {
  text-decoration-line: none;
  border-radius: 0px 3.2px 3.2px 0px;
  border-right: 1px solid #DEE2E6;
}

.pagination li:last-child a {
  margin-bottom: 2.4px;
}

.pagination li.active {
  color: #fff;
  background: var(--NTUC-2);
  border: 1px solid var(--NTUC-2);
  border-left: 0.5px solid var(--NTUC-2);
  border-right: 0.5px solid var(--NTUC-2);
}

.pagination li.active a {
  color: #fff;
  background: var(--NTUC-2);
}

.pagination li.disabled {
  text-decoration-line: none;
}
